[Desktop Entry]
Encoding=UTF-8
Name=OlympicCoin
Comment=OlympicCoin P2P Cryptocurrency
Exec=olympic-qt %u
Terminal=false
Type=Application
Icon=olympic128
MimeType=x-scheme-handler/olympic;
Categories=Office;Finance;
Name[ru]=olympic-qt.desktop.desktop
